{% extends 'base.html.twig' %}

{% block title %}Bienvenue!{% endblock %}

{% block body %}
    <!-- Masthead-->
    <header class="masthead">
        <div class="container px-4 px-lg-5 h-100">
            <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
                <div class="col-lg-8 align-self-end">
                    <h1 class="text-white font-weight-bold">Exposez votre talent, connectez vos idées.</h1>
                    <hr class="divider" />
                </div>
                <div class="col-lg-8 align-self-baseline">
                    <p class="text-white-75 mb-5">ArtzConnect réunit artistes et passionnés, offrant un espace unique pour partager, découvrir et collaborer sur des créations multimédias innovantes et immersives.</p>
                    <a class="btn btn-primary btn-xl" href="#about">Découvrir</a>
                </div>
            </div>
        </div>
    </header>
{% endblock %}
